* {
    box-sizing: border-box;
  }

  body{
    margin:0;
    color:#6a6f8c;
    font:600 16px/18px 'Open Sans',sans-serif;
   
  }
  .about-body{
    margin:0;
    color:#6a6f8c;
    font:600 16px/18px 'Open Sans',sans-serif;
    background: url("../images/mentors.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/*---------------------------------------------*/
a {

	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 10px;
  color: #57b846;
}

p {

	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}



  /*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-login { 
  width: 420px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.5);  
}


/*------------------------------------------------------------------
[  ]*/
.form-modal {
  width: 100%;
}

.login-form-title {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}

/*------------  colors  ---------------------------------*/
.gray20 {
  color: #333333;
}

/*---------------------------------------------*/
.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 20px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 20px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

/* _________________________________________________________________
_______________________________ */
.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn:hover {
  background: #333333;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt-footer {
  font-weight: bold;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt-footer-lnk {
  font-weight: lighter;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.footer-lnk{
  text-align:center;
  padding-top: 6px;
  
}
/* Toggle Tabs */
.form-tabs {
  position: relative;
  width:100%;
  height:auto;
  background-color: #c850c0;
}
.form-tabs button {
  width:50%;
  float:left;
  padding:1.5em;
  margin-bottom:1.5em;
  border:none;
  transition: 0.2s;
  font-size:1.1em;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.form-tabs button:nth-child(1){
  border-bottom-right-radius: 20px;
}

.form-tabs button:nth-child(2){
  border-bottom-left-radius: 20px;
}

#login-toggle{
  background:#57b846;
  color:#ffff;
}

.form-modal form{
  position: relative;
  width:90%;
  height:auto;
  left:50%;
  transform:translateX(-50%);  
}

.form-tabs button{
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-size:1em;
  z-index: 2;
  outline: none;
  background:#fff;
  transition:0.2s;
}

#signin-form , #signup-form{
  position:relative;
  width:100%;
  height:auto;
  padding-bottom:1em;
}

#signup-form{
  display: none;
}

/* -------------- ANIMATION ---------------------*/
@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 20px 0.2px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 20px 0.2px;
    opacity: 0;
  }
}

/*-------------- SIDEBAR ----------------------*/
.logo1 {
  width: 250px;
  height: 70px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.logo1 img {
  width:180px;
  height: auto;
}

.sidebar-menu {
  Background: #e5e5e5;
  width:250px;
  position: absolute;
  top: 0;
  bottom: 0;
  box-shadow:0 3px 10px 0px rgba(0, 0, 0, 0.2);  

}

.icon-align-justify{
  color: #fff;
  font-size: 30px;
  position: relative;
  top:16px;
}

.icon-align-justify:hover {
  color: #fff;
  font-size: 40px;
}

.icon-users, .icon-gauge, .icon-calendar {
  font-size: 30px;
  margin-right: 1rem;
  position: relative;
  top:8px;
}




.menu li a {

  font-size: 0.85em;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 20px 20px;
  font-weight: bold;

}

.menu li a:hover {
  color: #ffffff;
  background-color:#333333;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  border-right: 4px solid #4A4A4A;
}
.menu-active {
  color: #fff;
  background-color: #2b303a;
  border-right:5px solid #3c8031;
}

.menu ul li {
    background-color: #cccccc;
} 
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

.menu ul a {
  padding-left: 70px;
} 

/*-------------- HEADER ----------------------*/
.header-area {
  margin-left:250px; 
  padding-left: 20px;
  background: #fff;
  box-shadow:0 3px 10px 0px rgba(0, 0, 0, 0.2);  
  height: 70px;

 }
.user-area {

    float: right;
    padding: 10px;
    font-size: 20px;
    display: flex;           /* establish flex container */
    flex-direction: row;  /* make main axis Horizontal */
    justify-content: center; /* center items cenetr, in this case */
    align-items: center;
    

  }
.user-area a{

    padding-right:30px;
    padding-top: 7px;
    text-decoration: none;
    height: 50px;

  }
.circle {

     background: red;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     display: inline-block;
     font-size: 10px;
     color: #fff;
     text-align: center;
     left: 3px;


   }
.notification {
     position: relative;
     font-size: 18px;
   }
.user-img {
  background: url(../images/profile.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -10px;
  position: relative;


}


/*-------------- FOOTER ----------------------*/
.copyrights {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: white;
  text-align: center;
  padding: 8px 0em;
  text-align: center;
  z-index: -1;
  box-shadow:0 3px 10px 0px rgba(0, 0, 0, 0.1); 

}
.copyrights p {
  font-size: 1em;
  color: #696969;
  margin-bottom: 0;
}
.copyrights p a{
  color: #3c8031;
  font-size: 1em
}
.copyrights p a:hover{
  color:#494949;
}

/*-------------- CONTENT AREA ----------------------*/
.content-area {

  margin-left: 260px;
  margin-top: 20px;
  padding-left: 20px;

}
.content-heading {
  margin-bottom: 30px;
} 

/*-------------- CONTENT AREA ----------------------*/
.cards { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  height: 300px;
  }


.card {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  transition: 0.3s;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  background: #fff;
  padding-top: 5px;
}
.card:hover {
  box-shadow: 8px 8px 12px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;

}
 .card-user-img > img {
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;

 }
.user-name {
  font-size:  1rem;
  display: block;
   text-align: center;
   margin: 10px 0;
   text-transform: capitalize;
 }

.user-title {
  font-size: 0.8rem;
  margin: 10px 0;
}

.occupation-wrap{
   width: 33%;
   padding: 0 15px;
   display: inline-block;
}

.expertise {
  margin: 24px 0;
  
  
}

.usr-expertise {
  display: inline-block;
  border-radius: 7px;
  padding: 5px;
  background : #f1f1f1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.usr-expertise > a {
  text-decoration: none;
  padding: 5px;
  font-size: 80%;
  color: black;
}


.card-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  
  width: 100%;
  height: 50px;
  
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
} 

.card-btn:hover{
  background: #333333;
}
