* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #6a6f8c;
	font: 600 16px/18px 'Open Sans',sans-serif;
	background: #F1F4F9;
}

.about-body {
	margin: 0;
	color: #6a6f8c;
	font: 600 16px/18px 'Open Sans',sans-serif;
	background: url("../images/mentors.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/*---------------------------------------------*/
a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin-bottom: 10px;
	color: #4e9b40;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus, input:focus {
	border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus:-moz-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	color: transparent;
}

textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #999999;
}

input:-moz-placeholder {
	color: #999999;
}

input::-moz-placeholder {
	color: #999999;
}

input:-ms-input-placeholder {
	color: #999999;
}

textarea::-webkit-input-placeholder {
	color: #999999;
}

textarea:-moz-placeholder {
	color: #999999;
}

textarea::-moz-placeholder {
	color: #999999;
}

textarea:-ms-input-placeholder {
	color: #999999;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}



  /*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-login {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.wrap-login {
	width: 420px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.5);
}


/*------------------------------------------------------------------
[  ]*/
.form-modal {
	width: 100%;
}

.login-form-title {
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 54px;
}

/*------------  colors  ---------------------------------*/
.gray40 {
	color: #333333;
}

/*---------------------------------------------*/
.wrap-input {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
}

.input100 {
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
	display: block;
	width: 100%;
	background: #e6e6e6;
	height: 50px;
	border-radius: 20px;
	padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
	display: block;
	position: absolute;
	border-radius: 20px;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
	-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
	animation: anim-shadow 0.5s ease-in-out forwards;
}

/* _________________________________________________________________
_______________________________ */
.symbol-input100 {
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 35px;
	pointer-events: none;
	color: #666666;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
	color: #57b846;
	padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}

.login-form-btn {
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #57b846;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.login-form-btn:hover {
	background: #333333;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt-footer {
	font-weight: bold;
	font-size: 13px;
	line-height: 1.5;
	color: #999999;
}

.txt-footer-lnk {
	font-weight: lighter;
	font-size: 13px;
	line-height: 1.5;
	color: #666666;
}

.footer-lnk {
	text-align: center;
	padding-top: 6px;
}
/* Toggle Tabs */
.form-tabs {
	position: relative;
	width: 100%;
	height: auto;
}

.form-tabs button {
	width: 50%;
	float: left;
	padding: 1.5em;
	margin-bottom: 1.5em;
	border: none;
	transition: 0.2s;
	font-size: 1.1em;
	font-weight: bold;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	cursor: pointer;
}

.form-tabs button:nth-child(1) {
	border-bottom-right-radius: 20px;
}

.form-tabs button:nth-child(2) {
	border-bottom-left-radius: 20px;
}

#login-toggle {
	background: #57b846;
	color: #ffff;
}

.form-modal form {
	position: relative;
	width: 90%;
	height: auto;
	left: 50%;
	transform: translateX(-50%);
}

.form-tabs button {
	cursor: pointer;
	position: relative;
	text-transform: capitalize;
	font-size: 1em;
	z-index: 2;
	outline: none;
	background: #fff;
	transition: 0.2s;
}

#signin-form , #signup-form {
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 1em;
}

#signup-form {
	display: none;
}

/* -------------- ANIMATION ---------------------*/
@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 20px 0.2px;
		opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 20px 0.2px;
		opacity: 0;
	}
}

/*-------------- SIDEBAR ----------------------*/

.sidebar-menu {
	Background: #f4f4f4;
    width: 20%;
	position: fixed;
	top: 0;
	bottom: 0;
	box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
	margin-top: 70px;
	z-index: 0;
}

.icon-align-justify {
	color: #fff;
	font-size: 30px;
	position: relative;
	top: 16px;
}

.icon-align-justify:hover {
	color: #fff;
	font-size: 40px;
}

.icon-users, .icon-gauge, .icon-calendar, .icon-smile-o, .icon-star, .icon-calendar-check-o {
	font-size: 220%;
	margin-right: 1rem;
	position: relative;
	top: 8px;
}

.menu li a {
	font-size: 0.85em;
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 20px 20px;
	font-weight: bold;
}

.menu li a:hover {
	color: #ffffff;
	background-color: #333333;
	transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
	border-right: 4px solid #4A4A4A;
}

.menu-active {
	color: #fff;
	background-color: #2b303a;
	border-right: 5px solid #3c8031;
}

.menu ul li {
	background-color: #cccccc;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu ul a {
	padding-left: 70px;
} 

/*-------------- HEADER ----------------------*/
.header-area {
	padding-left: 20px;
	background: #f4f4f4;
	box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
	height: 70px;
	width: 100%;
	z-index: 1;
}
 /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.logo1 {
	width: 250px;
	height: 70px;
	background: #f4f4f4;
	display: inline-block;
}

.logo1 img {
	width: 180px;
	height: auto;
}

.wrap-search {
	width: 300px;
	display: inline-block;
	position: absolute;
	z-index: 1;
	width: 300px;
	margin-top: 10px;
}

.user-area {
	float: right;
	padding: 10px;
	font-size: 20px;
	display: flex;
           /* establish flex container */
	flex-direction: row;
  /* make main axis Horizontal */
	justify-content: center;
 /* center items cenetr, in this case */
	align-items: center;
}

.user-area a {
	padding-right: 30px;
	padding-top: 7px;
	text-decoration: none;
	height: 50px;
}

.circle {
	background: red;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	font-size: 10px;
	color: #fff;
	text-align: center;
	left: 3px;
}

.notification {
	position: relative;
	font-size: 18px;
}

.user-img {
	background: url(../images/profile.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: -10px;
	position: relative;
}


/*-------------- FOOTER ----------------------*/
.copyrights {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f4f4f4;
	color: white;
	text-align: center;
	padding: 8px 0em;
	text-align: center;
	z-index: 0;
	box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.copyrights p {
	font-size: 1em;
	color: #696969;
	margin-bottom: 0;
}

.copyrights p a {
	color: #3c8031;
	font-size: 1em;
}

.copyrights p a:hover {
	color: #494949;
}

/*-------------- CONTENT AREA ----------------------*/
.content-area {
	margin-left: 260px;
	margin-top: 20px;
	padding-left: 20px;
}

.content-heading {
	margin-bottom: 20px;
} 
/*-------------- Mentors Area ----------------------*/
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
	height: 300px;
}

.card {
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
	width: 300px;
	transition: 0.3s;
	margin: auto;
	text-align: center;
	font-family: arial;
	border-radius: 5px;
	background: #fff;
	padding-top: 5px;
}
.card > a {
	text-decoration: none;
}

.card:hover {
	box-shadow: 5px 1px 20px 1px #ddd;
	transform: scale(0.98);
	transition: 0.3s;
}

.card-user-img > img {
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
}

.table-user-img > img {
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 0 auto;
}

.user-name {
	font-size: 1rem;
	display: block;
	text-align: center;
	margin: 10px 0;
	text-transform: capitalize;
}

.user-title {
	font-size: 0.8rem;
	margin: 10px 0;
}

.occupation-wrap {
	width: 33%;
	padding: 0 15px;
	display: inline-block;
}

.usr-expertise {
	display: inline-block;
	border-radius: 7px;
	padding: 5px;
	background: #57b846;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}

.usr-expertise > a {
	text-decoration: none;
	padding: 5px;
	font-size: 80%;
	color: #fff;
}

.card-btn {
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	background: #57b846;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.card-btn:hover {
	background: #333333;
}

/*--------------Individual Mentor Area ----------------------*/
.cards-style2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.card-style2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
	margin: auto;
	width: 800px;
	height: 550px;
	background: #FFF;
}

.expertise {
	padding: 0 20px 0 30px;
	text-align: center;
}

.left {
	padding: 0 50px 20px 0;
}

.button-style2 {
	display: inline-block;
	margin-top: 20px;
	background: #57b846;
	border-radius: 10px;
	padding: 10px 30px;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.50em;
	color: #FFFFFF;
}

.card-user-img2 > img {
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: 0 auto;
}

.card-scrollable {
	margin: 4px, 4px;
	padding: 4px;
	overflow-x: scroll;
	text-align: justify;
}


/* ------------- EVENTS SIDE --------------- */
.card-style3 {
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
	width: 800px;
	height: 550px;
	background: #FFF;
}

.header-events {
	text-align: center;
}

.events-wrapper {
	clear: both;
	height: 460px;
	overflow: auto;
	width: 100%;
} 



/*------------ Tables ------ -----*/
.table {
	width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
	border-collapse: collapse;
	table-layout: fixed;
}

.sub-block {
	display: block!important;
}

.table td,
.table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
	border-top: 2px solid #dee2e6;
}

.table {
	background-color: #fff;
}

.table-sm td,
.table-sm th {
	padding: .3rem;
}

.table-col {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.badge {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
  min-width: 60px;
  min-height: 10px;
}

.badge-rounded {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem;
}

.badge-warning {
	color: #212529;
	background-color: #ffc107;
}

.badge-success {
	color: #fff;
	background-color: #28a745;
}
.badge-danger {
	color: #fff;
	background-color: #b41111;
}
.sub-block {
	display: block!important;
}

.mtrs-table td {
	padding-top: 0;
	padding-bottom: 0;
	vertical-align: middle;
	height: 80px;
}

.mtrs-table th {
	border-top: none;
}

.mtrs-table tr.gb-is-hover .mtrs-table-cell__action {
	max-height: 100px;
}

.btn {
	display: inline-block;
	min-width: 60px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 25px;
	text-transform: capitalize;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-home {
	font-size: 20px;
	margin-left: 30px;
	color: #fff;
	text-transform: uppercase;
	width: 300px;
	height: 50px;
	background: #57b846;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	margin-top: 30px;
 }

.btn-tables {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-tables:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-success:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn-danger:hover {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}

.btn-small {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}
/*-------------- BOOKING FORM ----------------*/

/* The Modal form(background) */
.request-form {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/* Modal form Content */
.request-form-content {
	background-color: #fff;
	margin: auto;
	width: 420px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.5);
}

#request-form {
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 1em;
}

.form-title {
	position: relative;
	width: 100%;
	height: auto;
}

.form-title div {
	width: 100%;
	padding: 1.5em;
	margin-bottom: 1.5em;
	border: none;
	transition: 0.2s;
	font-size: 1.1em;
	font-weight: bold;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	text-align: center;
	background: #57b846;
	color: #ffff;
}

.input110 {
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
	display: block;
	width: 100%;
	background: #e6e6e6;
	height: 150px;
	border-radius: 20px;
	padding: 0 30px 0 68px;
}


/* The Close Button */
.close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: bold;
	z-index: 10;
}

.close:hover,
.close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}



/*------------------------------------------------------------------
[ Focus ]*/
.focus-input110 {
	display: block;
	position: absolute;
	border-radius: 20px;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(87,184,70, 0.8);
}

.input110:focus + .focus-input110 {
	-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
	animation: anim-shadow 0.5s ease-in-out forwards;
}

/* _________________________________________________________________
_______________________________ */
.symbol-input110 {
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 35px;
	pointer-events: none;
	color: #666666;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.input110:focus + .focus-input110 + .symbol-input110 {
	color: #57b846;
	padding-left: 28px;
}

/* ------------------- MENTOR SESSIONS ----------------------*/ 
.card-style4 {
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
	width: 100%;
	height: auto;
	background: #FFF;
	overflow-x: scroll;
}

.wrap-text {
	word-wrap: break-word;
}

.card-style5 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
	margin: auto;
	width: 1630px;
	height: 650px;
	background: #FFF;
}

.editForm {
	padding: 0 20px 0 30px;
	text-align: center;
	width: 40%;
}

.check-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
	border-radius: 6px;
	background-color: #e6e6e6;
	box-shadow: rgba(0,0,0,.2) 0 2px 4px;
}

.check-container:not(:last-child) {
	margin-bottom: 10px;
}
/* CHECK BOX STYLES */
.checkbox-label {
	display: block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	font-size: 15px;
	color: #999999;
	font: 400;
	font-size: 14px;
	padding-bottom: 8px;
}

input[type=checkbox] {
	visibility: hidden;
}

.checkbox-mark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid black;
}

.checkbox-label:hover input ~ .checkbox-mark {
	background-color: #449d44;
	border: 1px solid #449d44;
}

.checkbox-label input:active ~ .checkbox-mark {
	background-color: rgba(87,184,70);
	border: 1px solid rgba(87,184,70);
}

.checkbox-label input:checked ~ .checkbox-mark {
	background-color: rgba(87,184,70);
	border: 1px solid rgba(87,184,70);
}

.checkbox-mark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-label input:checked ~ .checkbox-mark:after {
	display: block;
}

.checkbox-label .checkbox-mark:after {
	left: 8px;
	bottom: 5px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.select-box {
	display: block;
	width: 100%;
	border: none;
}

.select-box::-ms-expand {
	display: none;
}

.select-box:hover {
	border: none;
}

.select-box:focus {
	box-shadow: 0 0 1px 1px rgba(15, 189, 82, 0.7);
	box-shadow: 0 0 0 1px;
	color: #222;
	outline: none;
	border: none;
	color: #57b846;
	padding-left: 28px;
	display: block;
	-webkit-animation: anim-shadow 0.5s ease-in;
	animation: anim-shadow 0.5s ease-in;
}

.select-box option {
	font-weight: normal;
}


.star-rating {
	border: 0;
	display: flex;
	flex-direction: row-reverse;
	font-size: 2em;
	justify-content: auto;
	text-align: center;
	width: 5em;
	margin-top: 10px;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: rgb(128, 128, 128);
	cursor: pointer;
}

.star-rating :checked ~ label {
	color:#57b846;
}

.star-rating :hover ~ label {
	color: #81ec6f;
}

/* Dashboard */

.caption {
	text-align: left;
	padding-top: 100px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.3;
	font-size: 30px;
	color: black;
	padding-left: 30px;
  }
  .home-para {
	padding:30px;
	font-size: 20px;;
	text-align: left;
  }
  .appName {
	  color: #449d44;
	  font-weight: bolder;
  }

  .cards-container{

	width: 100%;
	height: 647px;
	overflow-y: scroll;
	top:0;
  }

/* ---------------- Adding Responsive ness ----------- */


/* /-----ADVANCED CSS Responsive Start Here */
@media (min-width: 1700px) {
	.content-area {
		margin-left: 23%;
		padding-left: 1%;
		width: 78%;
		overflow-x: scroll;
		margin-top: 15px;
		font-size: 140%;
	}

	.menu li a {
		font-size: 0.70em;
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 20px 20px;
		font-weight: bold;
	}
	.sidebar-menu {
		Background: #f4f4f4;
		width: 22%;
		font-size: 140%;
		margin-top: 70px;
		z-index: 2;
		overflow-x: scroll;
	}
}
@media (min-width: 1300px) and (max-width: 1699px) {
	.content-area {
		margin-left: 23%;
		padding-left: 1%;
		width: 78%;
		overflow-x: scroll;
		margin-top: 15px;
	}

	.menu li a {
		font-size: 0.73em;
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 20px 20px;
		font-weight: bold;
	}
	.sidebar-menu {
		Background: #f4f4f4;
		width: 22%;
		font-size: 100%;
		margin-top: 70px;
		z-index: 2;
		overflow-x: scroll;
	}
}
/* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {
	/*-------------- SIDEBAR ----------------------*/
	.sidebar-menu {
		width: 20%;
		z-index: 2;
		overflow-x: scroll;
	}
	.menu li a {
		font-size: 0.63em;
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 20px 20px;
		font-weight: bold;
	}
	.caption {
		text-align: left;
		padding-top: 10px;
		font-size: 30px;
		padding-left: 30px;
	}
	.home-para {
		padding: 30px;
		font-size: 20px;
		text-align: left;
	}
	.appName {
		color: #449d44;
		font-weight: bolder;
	}
	.btn-home {
		font-size: 80%;
		margin-left: 30px;
		width: 200px;
		height: 30px;
		background: #57b846;
		margin-top: 5px;
	}
	.card-style4 {
		box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
		width: 95%;
		height: auto;
		background: #FFF;
		margin-left: 0%;
		overflow-x: scroll;
	}
	/*-------------- FOOTER ----------------------*/
	.copyrights {
		position: fixed;
		width: 100%;
		max-height: 90%;
		font-size: 90%;
	}
}


/* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
	/*-------------- SIDEBAR ----------------------*/
	.sidebar-menu {
		Background: #f4f4f4;
		width: 20%;
		font-size: 70%;
		z-index: 2;
		overflow-x: scroll;
	}
	.icon-users,
	.icon-gauge,
	.icon-calendar,
	.icon-smile-o,
	.icon-star,
	.icon-calendar-check-o {
		font-size: 170%;
		margin-right: 1rem;
		position: relative;
		top: 8px;
	}
	.card-style4 {
		box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
		width: 98%;
		height: auto;
		font-size: 60%;
		background: #FFF;
		overflow-x: scroll;
		margin-left: 2px
	}
	.content-area {
		margin-left: 20%;
		margin-top: 20px;
		padding-left: 20px;
	}
	/* Dashboard */
	.caption {
		text-align: left;
		padding-top: 10px;
		font-size: 20px;
		padding-left: 30px;
	}
	.home-para {
		padding: 30px;
		font-size: 12px;
		text-align: left;
	}
	.appName {
		color: #449d44;
		font-weight: bolder;
	}
	.btn-home {
		font-size: 80%;
		margin-left: 30px;
		width: 200px;
		height: 30px;
		background: #57b846;
		margin-top: 5px;
	}
	/*-------------- FOOTER ----------------------*/
	.copyrights {
		position: fixed;
		width: 100%;
		max-height: 78%;
		font-size: 78%;
	}
	
	/*-------------- SIGN IN ----------------------*/

	.limiter {
		width: 50%;
		margin: 0 auto;
	}

	.wrap-login {
		width: 80%;
		background: #fff;
		border-radius: 20px;
	}

	.form-modal {
		width: 100%;
	}

	.login-form-title {
		font-size: 18px;
		line-height: 1;
		text-align: center;
		width: 100%;
		display: block;
		padding-bottom: 20px;
	}

	.wrap-input {
		position: relative;
		width: 100%;
		z-index: 1;
		margin-bottom: 6px;
	}

	.input100 {
		font-size: 15px;
		line-height: 1.5;
		width: 100%;
		background: #e6e6e6;
		height: 30px;
		padding: 0 20px 0 68px;
	}

	.login-form-btn {
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
		width: 100%;
		height: 30px;
		border-radius: 25px;
		padding: 0 20px;
	}
	.txt-footer {
		font-size: 10px;
	}
	
	.txt-footer-lnk {
		font-size: 10px;
	}
	
	.footer-lnk {
		text-align: center;
		padding-top: 6px;
	}
	.form-tabs button {
		margin-bottom: 1.4em;
		padding: 1em;
		font-size: 0.8em;
	}
	
}


/* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.copyrights {
		position: fixed;
		width: 100%;
		max-height: 70%;
		font-size: 70%;
	}
	
}


/* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
	/*-------------- SIDEBAR ----------------------*/
	.sidebar-menu {
		Background: #f4f4f4;
		width: 15%;
		position: fixed;
		top: 0;
		bottom: 0;
		box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
		margin-top: 70px;
		z-index: 2;
		overflow-x: scroll;
	}
	.menu li a {
		font-size: 0.65em;
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 10px 10px;
		font-weight: bold;
	}
	/*-------------- FOOTER ----------------------*/
	.copyrights {
		position: fixed;
		width: 100%;
		max-height: 50%;
		font-size: 50%;
	}
	/* --------- */
	.sidebar-menu {
		Background: #f4f4f4;
		width: 22%;
		font-size: 60%;
		margin-top: 40px;
		z-index: 2;
		overflow-x: scroll;
	}
	.wrap-search {
		visibility: hidden;
	}
	/*Header*/
	.user-area {
		float: right;
		padding: 10px;
		font-size: 10px;
		display: flex;
		/* establish flex container */
		flex-direction: row;
		/* make main axis Horizontal */
		justify-content: center;
		/* center items cenetr, in this case */
		align-items: center;
	}
	.user-area a {
		padding-right: 30px;
		padding-top: 1px;
		text-decoration: none;
		height: 8px;
		font-size: 8px;
	}
	.circle {
		background: red;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		display: inline-block;
		font-size: 8px;
		color: #fff;
		text-align: center;
		left: 3px;
	}
	.notification {
		position: relative;
		font-size: 15px;
	}
	.user-img {
		background: url(../images/profile.jpg) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		top: -10px;
		position: relative;
	}
	.icon-users,
	.icon-gauge,
	.icon-calendar,
	.icon-smile-o,
	.icon-star,
	.icon-calendar-check-o {
		font-size: 130%;
		margin-right: 1rem;
		position: relative;
		top: 8px;
	}
	/*Header*/
	.card-style4 {
		box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
		width: 90%;
		height: auto;
		font-size: 60%;
		background: #FFF;
		overflow-x: scroll;
		margin-left: 2px
	}
	.content-area {
		margin-left: 20%;
		margin-top: 10px;
		padding-left: 20px;
	}
	/* Dashboard */
	.caption {
		text-align: left;
		padding-top: 10px;
		font-size: 12px;
		padding-left: 30px;
	}
	.home-para {
		padding: 10 12;
		padding-left: 30px;
		font-size: 8px;
		text-align: left;
	}
	.appName {
		color: #449d44;
		font-weight: bolder;
	}
	.btn-home {
		font-size: 80%;
		margin-left: 30px;
		width: 150px;
		height: 30px;
		background: #57b846;
		margin-top: -5px;
	}
	/*-------------- HEADER ----------------------*/
	.header-area {
		padding-left: 20px;
		background: #f4f4f4;
		box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
		height: 40px;
		width: 100%;
		z-index: 1;
	}
	.logo1 {
		width: 120px;
		height: 40px;
		background: #f4f4f4;
		display: inline-block;
	}
	.logo1 img {
		width: 90px;
		height: auto;
	}

	/*-------------- SIGN IN ----------------------*/

	.wrap-login {
		width: 60%;
		background: #fff;
		border-radius: 20px;
	}

	.login-form-title {
		font-size: 14px;
		line-height: 1;
		text-align: center;
		width: 100%;
		display: block;
		padding-bottom: 10px;
	}

	.wrap-input {
		position: relative;
		width: 100%;
		z-index: 1;
		margin-bottom: 3px;
	}

	.input100 {
		font-size: 15px;
		line-height: 1.5;
		width: 100%;
		background: #e6e6e6;
		height: 20px;
		padding: 0 20px 0 68px;
	}

	.login-form-btn {
		font-size: 12px;
		color: #fff;
		text-transform: uppercase;
		width: 100%;
		height: 20px;
		border-radius: 25px;
		padding: 0 10px;
	}
	.txt-footer {
		font-size: 10px;
	}
	
	.txt-footer-lnk {
		font-size: 10px;
	}
	
	.footer-lnk {
		text-align: center;
		padding-top: 1px;
		display: block;
	}
	.form-tabs button {
		margin-bottom: 1.1em;
		padding: 1em;
		font-size: 0.8em;
	}
}


/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
	.content-area {
		margin-left: 22%;
		padding-left: 1%;
		width: 90%;
		overflow-x: scroll;
	}
	.copyrights {
		position: fixed;
		width: 100%;
		max-height: 15px;
		font-size: 30%;
	}
	.menu li a {
		font-size: 0.55em;
		display: block;
		width: 100%;
		text-decoration: none;
		padding: 6px 6px;
		font-weight: bold;
	}
	.sidebar-menu {
		Background: #f4f4f4;
		width: 22%;
		font-size: 60%;
		margin-top: 30px;
		z-index: 2;
		overflow-x: scroll;
	}
	.wrap-search {
		visibility: hidden;
	}
	.logo1 {
		width: 100%;
		height: 30px;
		background: #f4f4f4;
		display: inline-block;
	}
	.logo1 img {
		width: 80px;
		height: auto;
	}
	.user-area {
		visibility: hidden;
	}
	.icon-users,
	.icon-gauge,
	.icon-calendar,
	.icon-smile-o,
	.icon-star,
	.icon-calendar-check-o {
		font-size: 130%;
		margin-right: 1rem;
		position: relative;
		top: 8px;
	}
	/*Header*/
	.card-style4 {
		box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
		width: 90%;
		height: auto;
		font-size: 60%;
		background: #FFF;
		overflow-x: scroll;
		margin-left: 2px
	}
	/* Dashboard */
	.caption {
		text-align: left;
		padding-top: 10px;
		font-size: 10px;
		padding-left: 20px;
	}
	.home-para {
		padding-left: 20px;
		font-size: 6px;
		text-align: left;
	}
	.appName {
		color: #449d44;
		font-weight: bolder;
	}
	.btn-home {
		font-size: 80%;
		margin-left: 30px;
		width: 150px;
		height: 30px;
		background: #57b846;
		margin-top: -5px;
	}
	/*-------------- HEADER ----------------------*/
	.header-area {
		padding-left: 20px;
		background: #f4f4f4;
		box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
		height: 30px;
		width: 100%;
		z-index: 1;
	}

		/*-------------- SIGN IN ----------------------*/

		.wrap-login {
			width: 70%;
			background: #fff;
			border-radius: 20px;
			font-size: 70%;
		}
	
		.login-form-title {
			font-size: 12px;
			line-height: 1;
			text-align: center;
			width: 100%;
			display: block;
			padding-bottom: 10px;
		}
	
		.wrap-input {
			position: relative;
			width: 100%;
			z-index: 1;
			margin-bottom: 3px;
		}
	
		.input100 {
			font-size: 10px;
			line-height: 1.5;
			width: 100%;
			background: #e6e6e6;
			height: 20px;
			padding: 0 20px 0 68px;
		}
	
		.login-form-btn {
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
			width: 60%;
			height: 20px;
			border-radius: 25px;
			padding: 0 10px;
			position: right;
		}
		.txt-footer {
			font-size: 7px;
		}
		
		.txt-footer-lnk {
			font-size: 7px;
		}
		
		.footer-lnk {
			text-align: center;
			padding-top: 1px;
			display: block;
		}
		.form-tabs button {
			margin-bottom: 1.1em;
			padding: 1em;
			font-size: 0.8em;
		}
	
}


/* 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) 
  */

@media (max-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	.limiter {
		overflow-x: scroll;
	}
	.sidebar-menu {
		visibility: hidden;
	}
	.content-area {
		margin: 0;
		padding-left: 0;
		width: 100%;
		overflow-x: scroll;
		z-index:2;
	}
	.content-heading {
		visibility: hidden
	} 
	.copyrights {
		visibility: hidden;
	}
	/*-------------- HEADER ----------------------*/
	.header-area {
		visibility: hidden
	}
	.logo1 {
		width: 100%;
		height: 10px;
		background: #f4f4f4;
		display: inline-block;
	}
	.logo1 img {
		width: 30px;
		height: auto;
	}
	
	.wrap-search {
		visibility: hidden;
	}
	.user-area {
		visibility: hidden;
	}
	/*---------- Index -------*/
	.card-scrollable {

		padding: 2%;
		overflow-y: auto;
		text-align: justify;
	}
	.card-style4 {
		height: 30%;
		background: #FFF;
		overflow-x: scroll;
		margin-top: -40px;
	}
	.content-heading {
		visibility: hidden;
	}
	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 0.8%;
		align-items: stretch;
		height: 300px;
		z-index:0;
		margin-top: 0;
	}
	.card {
		box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
		width: 200px;
		transition: 0.3s;
		margin: auto;
		text-align: center;
		font-family: arial;
		border-radius: 5px;
		background: #fff;
		padding-top: 5px;
	}
	.card-user-img > img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin: 0 auto;
	}
	.user-name {
		font-size: 2px;
		display: block;
		text-align: center;
		margin: 2px 0;
		text-transform: capitalize;
	}
	

	/*-------------- SIGN IN ----------------------*/

	.wrap-login {
		width: 90%;
		background: #fff;
		border-radius: 20px;
		font-size: 70%;
	}

	.login-form-title {
		font-size: 9px;
		line-height: 1;
		text-align: center;
		width: 100%;
		display: block;
		padding-bottom: 10px;
	}

	.wrap-input {
		position: relative;
		width: 100%;
		z-index: 1;
		margin-bottom: 3px;
	}

	.input100 {
		font-size: 10px;
		line-height: 1.5;
		width: 100%;
		background: #e6e6e6;
		height: 20px;
		padding: 0 20px 0 68px;
	}

	.login-form-btn {
		font-size: 10px;
		color: #fff;
		text-transform: uppercase;
		width: 60%;
		height: 17px;
		border-radius: 25px;
		padding: 0 10px;
		position: right;
	}
	.txt-footer {
		font-size: 5px;
	}
	
	.txt-footer-lnk {
		font-size: 5px;
	}
	
	.footer-lnk {
		text-align: center;
		padding-top: 1px;
		display: block;
	}
	.form-tabs button {
		margin-bottom: 1.1em;
		padding: 1em;
		font-size: 0.8em;
	}
}

@-ms-viewport{
	width: device-width;
  }